{% extends "global/Page.html" %}
{% load staticfiles otree %}

{#{% block title %}#}
{#    Belief#}
{#{% endblock %}#}

{% block content %}

    <div id="main">


        What do you guess most people in this session think is the right thing to do?<br><br>
        <label id="label4" for="value4"><img src="{% static "fieldtrip2/beliefkeep.png" %}"><br>
            <input type="radio" name="belief_q2" id="value4" value=1 ></label>
        <label id="label5" for="value5"><img src="{% static "fieldtrip2/beliefgive.png" %}"><br>
            <input type="radio" name="belief_q2" id="value5" value=2 ></label>
        <label id="label6" for="value6"><img src="{% static "fieldtrip2/whatothersdo.png" %}"><br>
            <input type="radio" name="belief_q2" id="value6" value=3 ></label><br>


    </div>

    <br><br><br><br><br><br><br><br>
    {% next_button %}
{% endblock %}

{% block styles %}


    <style type="text/css">

        img{
            width:7em;
            height:13em;
        }


        label {
            float: left;
            padding: 0 0.2em;
            text-align: center;
        }

    </style>


{% endblock %}


