{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
     {%  if player.round_number > 1%}
          Round {{round}}
     {% endif %}

{% endblock %}

{% block content %}

    <div id="main">


            What do you guess most people in this session would actually do?<br><br>
            <label id="label7" for="value7"><img src="{% static "fieldtrip2/beliefkeep.png" %}"><br>
            <input type="radio" name="belief_q3" id="value7" value=1 ></label>
            <label id="label8" for="value8"><img src="{% static "fieldtrip2/beliefgive.png" %}"><br>
            <input type="radio" name="belief_q3" id="value8" value=2 ></label><br>

    </div>

    <br><br><br><br><br><br><br><br>
    {% next_button %}
{% endblock %}

{% block styles %}


    <style type="text/css">

        img{
            width:10em;
            height:15em;
        }


        label {
            float: left;
            padding: 0 0.6em;
            text-align: center;
        }

    </style>


{% endblock %}


