{% extends "global/Page.html" %}
{% load staticfiles otree %}

{#{% block title %}#}
{#    Belief#}
{#{% endblock %}#}

{% block content %}

    <div id="main">


        {% if player.round_number == 1 %}


            What do you think is the right thing one ought to do? <br><br>
            <label id="label1" for="value1"><img src="{% static "fieldtrip2/keep.png" %}"><br>
            <input type="radio" name="belief_q1" id="value1" value=1 required></label>
            <label id="label2" for="value2"><img src="{% static "fieldtrip2/give.png" %}"><br>
            <input type="radio" name="belief_q1" id="value2" value=2 required></label>
            <label id="label3" for="value3"><img src="{% static "fieldtrip2/whatothersdo.png" %}"><br>
            <input type="radio" name="belief_q1" id="value3" value=3 required></label><br>

            <br><br><br><br><br>

            What do you guess most group members in this session think that one ought to do?<br><br>
            <label id="label4" for="value4"><img src="{% static "fieldtrip2/keep.png" %}"><br>
            <input type="radio" name="belief_q2" id="value4" value=1 required></label>
            <label id="label5" for="value5"><img src="{% static "fieldtrip2/give.png" %}"><br>
            <input type="radio" name="belief_q2" id="value5" value=2 required></label>
            <label id="label6" for="value6"><img src="{% static "fieldtrip2/whatothersdo.png" %}"><br>
            <input type="radio" name="belief_q2" id="value6" value=3 required></label><br>

            <br><br><br><br><br>

            What do you guess most group members in this session would actually do?<br><br>
            <label id="label7" for="value7"><img src="{% static "fieldtrip2/keep.png" %}"><br>
            <input type="radio" name="belief_q3" id="value7" value=1 required></label>
            <label id="label8" for="value8"><img src="{% static "fieldtrip2/give.png" %}"><br>
            <input type="radio" name="belief_q3" id="value8" value=2 required></label>

            <br><br>

        {% else %}

            What do you guess most group members in this session would actually do?<br><br>
            <label id="label1" for="value1">Keep<br><img src="{% static "fieldtrip2/keep.png" %}"><br>
            <input type="radio" name="belief_q3" id="value1" value=1 required></label>
            <label id="label2" for="value2">Give<br><img src="{% static "fieldtrip2/give.png" %}"><br>
            <input type="radio" name="belief_q3" id="value2" value=2 required></label>

            <br><br>


        {% endif %}

    </div>

    <br><br><br><br>
    {% next_button %}
{% endblock %}

{% block styles %}


    <style type="text/css">

        img{
            width:9em;
            height:8em;
        }


        label {
            float: left;
            padding: 0 1em;
            text-align: center;
        }

    </style>


{% endblock %}


