{% extends "global/Page.html" %}
{% load staticfiles otree %}

{#{% block title %}#}
{#    Belief#}
{#{% endblock %}#}

{% block content %}

    <div id="main">


        What do you guess most group members in this session think that one ought to do?<br><br>
        <label id="label4" for="value4"><img src="{% static "fieldtrip2/keep.png" %}"><br>
            <input type="radio" name="belief_q2" id="value4" value=1 ></label>
        <label id="label5" for="value5"><img src="{% static "fieldtrip2/give.png" %}"><br>
            <input type="radio" name="belief_q2" id="value5" value=2 ></label>
        <label id="label6" for="value6"><img src="{% static "fieldtrip2/whatothersdo.png" %}"><br>
            <input type="radio" name="belief_q2" id="value6" value=3 ></label><br>


    </div>

    <br><br><br><br><br><br><br><br>
    {% next_button %}
{% endblock %}

{% block styles %}


    <style type="text/css">

        img{
            width:9.5em;
            height:9.5em;
        }


        label {
            float: left;
            padding: 0 1em;
            text-align: center;
        }

    </style>


{% endblock %}


