{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
     {%  if player.round_number > 1%}
          Round {{round}}
     {% endif %}

{% endblock %}

{% block content %}

    <div id="main">

{#        You have <b>{{ Constants.ini_privat }}</b> points in your privat account.<br>#}
        Please, make your decision.
        <br><br>

        <label id="label1" for="value1"><img src="{% static "fieldtrip2/keep2.png" %}"><br>
            <input type="radio" name="binary_choice" id="value1" value=1></label>
        <label id="label1" for="value2"><img src="{% static "fieldtrip2/give.png" %}"><br>
            <input type="radio" name="binary_choice" id="value2" value=2></label>


            <br><br><br><br><br><br><br><br><br><br><br><br>



        <br>

    </div>

    {% next_button %}
{% endblock %}


{% block styles %}


    <style type="text/css">

        img{
            width:15.5em;
            height:15.5em;
        }


        label {
            float: left;
            padding: 0 1em;
            text-align: center;
        }

    </style>


{% endblock %}



