{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Decision Results
{% endblock %}

{% block content %}


    <br>
    {% if group.majority_type == 1 %}
        According to the majority vote, the players who kept their points will not get bonus. <br>
    {% elif group.majority_type == 2 %}
        According to the majority vote, the players gave the points to the group account will not get the bonus. <br>
    {% elif group.majority_type == 3 %}
        According to the majority vote, everyone will get the bonus<br>
    {% else %}
        There was no majority, everyone will get the bonus <br>
    {% endif %}
    <br>
    Below, you can inspect the detailed behavior of your group.
    <div id="main">
    <table class="table">
        <tr>
            <th><b>Player</b></th>
            <th><b>Binary Decision</b></th>
            <th><b>Voted For</b></th>
            <th><b>Gets Bonus</b></th>
        </tr>


        <tr>
            <th>{% if player.label == 'Player A'%} <p style="color: blue">You</p> {% else %} Player A</p> {% endif %}</th>
            <th>{% if player.label == 'Player A'%} <p style="color: blue">{{ PlayerA_choice }}</p> {% else %}<p>{{ PlayerA_choice }}</p>{% endif %}</th>
            <th>{% if player.label == 'Player A'%} <p style="color: blue"> {{ PlayerA_vote }}</p> {% else %}<p>{{ PlayerA_vote }}</p>{% endif %}</th>
            <th>{% if player.label == 'Player A'%} <p style="color: blue">{{ PlayerA_bonus }}</p> {% else %}<p>{{ PlayerA_bonus }}</p>{% endif %}</th>
        </tr>

        <tr>
            <th>{% if player.label == 'Player B'%} <p style="color: blue">You</p> {% else %} Player B {% endif %}</th>
            <th>{% if player.label == 'Player B'%} <p style="color: blue">{{ PlayerB_choice }}</p> {% else %}<p>{{ PlayerB_choice }}</p>{% endif %}</th>
            <th>{% if player.label == 'Player B'%} <p style="color: blue">{{ PlayerB_vote }}</p> {% else %}<p>{{ PlayerB_vote }}</p>{% endif %}</th>
            <th>{% if player.label == 'Player B'%} <p style="color: blue">{{ PlayerB_bonus }}</p> {% else %}<p>{{ PlayerB_bonus }}</p>{% endif %}</th>
        </tr>


        <tr>
            <th>{% if player.label == 'Player C'%} <p style="color: blue">You</p> {% else %} Player C <p>{% endif %}</p></th>
            <th>{% if player.label == 'Player C'%} <p style="color: blue">{{ PlayerC_choice }}</p> {% else %}<p>{{ PlayerC_choice }}</p>{% endif %}</th>
            <th>{% if player.label == 'Player C'%} <p style="color: blue">{{ PlayerC_vote }}</p> {% else %}<p>{{ PlayerC_vote }}</p>{% endif %}</th>
            <th>{% if player.label == 'Player C'%} <p style="color: blue">{{ PlayerC_bonus }}</p> {% else %}<p>{{ PlayerC_bonus }}</p>{% endif %}</th>
        </tr>
    </table>


    </div>


    {% next_button %}
{% endblock %}


