{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Question 2
{% endblock %}

{% block content %}

    <div id="main">


    {% if player.treatment == 'sanction' %}

        Please, answer the question.<br>
        Which area is good will be determined by drawing marbles from a box.
        <br><br>

        {% formfield player.amb_elic %}



    {% elif player.treatment == 'nosanction' %}

         Please, answer the question.<br>
         Which area is good will be determined by a coin toss.
         <br><br>

         {% formfield player.risk_elic %}

    {%  endif %}





    </div>

    <br>
    {% next_button %}
{% endblock %}


