{% extends "global/Page.html" %}
{% load staticfiles otree %}

{#{% block title %}#}
{#    Page title#}
{#{% endblock %}#}

{% block content %}


    <div id="main">

          <label id="label1" for="value1"><br><img src="{% static "fieldtrip2/test4.png" %}"><br><br>
              <input name="s4_group_left" id="value1" type = "number" min="0" max="9"  required="True" >

          </label>

        <br><br>

    </div>


    {% next_button %}
{% endblock %}



{% block styles %}


    <style type="text/css">



        input{

        }

        img{
            width:20em;
            height:20em;
            margin-left: 1.8em;
        }


        label {
            float: none;
            padding: 0 0em;
            text-align: center;
        }
    </style>


{% endblock %}

