{% extends "global/Page.html" %}
{% load staticfiles otree %}

{#{% block title %}#}
{#    Page title#}
{#{% endblock %}#}

{% block content %}

    <div id="main">

        {% if player.s1_correct == 1 %}

            <img src="{% static "fieldtrip2/solution1_good.png" %}">
              <br><br><br>

        {% else %}

            <img src="{% static "fieldtrip2/solution1_bad.png" %}">
              <br><br><br>

        {% endif %}


    </div>


    {% next_button %}
{% endblock %}


{% block styles %}


    <style type="text/css">



        input{

        }

        img{
            width:20em;
            height:20em;
            margin-left: 1.8em;
        }


        label {
            float: none;
            padding: 0 0em;
            text-align: center;
        }
    </style>


{% endblock %}

