{% extends "global/Page.html" %}
{% load staticfiles otree %}

{#{% block title %}#}
{#    Page title#}
{#{% endblock %}#}

{% block content %}

    <div id="main">

        <img src="{% static "fieldtrip2/Solution1.png" %}">
          <br><br><br>

    </div>


    {% next_button %}
{% endblock %}



{% block styles %}


    <style type="text/css">

        input{

        }


        img{
            width:32em;
            height:32em;

        }


        label {
            float: left;
            padding: 0 1em;
            text-align: center;
        }

    </style>


{% endblock %}
