{% extends "global/Page.html" %}
{% load staticfiles otree %}

{#{% block title %}#}
{#    Page title#}
{#{% endblock %}#}

{% block content %}

    <div id="main">

        <img src="{% static "fieldtrip2/tryagain.png" %}">
          <br><br><br>

    </div>


    {% next_button %}
{% endblock %}


{% block styles %}


    <style type="text/css">

        input{

        }


        img{
            width:20em;
            height:20em;
            margin-left: 1.8em;
        }


        label {
            float: left;
            padding: 0 0em;
            text-align: center;
        }

    </style>


{% endblock %}
