{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Page title
{% endblock %}

{% block content %}



    What do you think is the right thing one ought to do?

    <br><br><br>
    <label id="label1" for="value1">Keep<br><img src="{% static "fieldtrip2/keep.png" %} " style="width:10em; height:8em;"/><br>
        <input type="radio" name="belief_q1" id="value1" value=1 required></label>


    <label id="label1" for="value2">Give<br><img src="{% static "fieldtrip2/give.png" %} " style="width:10em; height:8em;"/><br>
        <input type="radio" name="belief_q1" id="value2" value=2 required></label>


    <label id="label1" for="value3">Do what others do<br><img src="{% static "fieldtrip2/whatothersdo.png" %} " style="width:10em; height:8em;"/><br>
        <input type="radio" name="belief_q1" id="value3" value=3 required></label><br>



    <br><br><br><br>




    <br><br>







<br><br>
    {% next_button %}


{% endblock %}


{% block styles %}


    <style type="text/css">

        label {
            float: left;
            padding: 0 1em;
            text-align: center;
        }





    </style>



{% endblock %}
