{% extends "otree/Page.html" %}
{% load staticfiles otree %}

{% block global_styles  %}

    <style>

    .page-header{
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;

    }

    .otree-btn-next{
        margin-top: 3em;
        height:  3em;
        width:  100%;
        font-size: 18pt;
    }

    input[type=number]{
        height: 2em;
        width: 6em;
        font-size: 17pt;
    }

    .otree-body{
        font-size: 17pt
    }



    </style>



{% endblock %}

{% block global_scripts  %}
{% endblock %}